<section class="msger">
    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> Chat
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>

    <main class="msger-chat" id="chat-box"></main>

    <form class="msger-inputarea" id="publish">
        <input type="text" class="msger-input" placeholder="Escribe un mensaje..." name="message">
        <button type="submit" class="msger-send-btn">Enviar</button>
    </form>
</section>