<section class="msger height-auto">
    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> ¿Cuál es tu nickname?
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>
    
    <form class="msger-inputarea" id="username-form">
        <input type="text" class="msger-input" placeholder="Escribelo aquí..." name="username">
        <button type="submit" class="msger-send-btn">Ingresar</button>
    </form>
</section>